<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../styling/output.css">
    <title>artemis</title>
  </head>
  <body>
    <section class="drawer-content m-8 space-y-8">
      <div class="card bg-base-100 shadow-xl rounded-none flex-initial">
        <div class="space-y-3 m-5">
            <h2 class="font-bold text-xl">welcome to artemis</h2>
            <p>using electron, chromium, node.js, firebase</p>
        </div>
      </div>
    </section>
  </body>
  <script src="./renderer.js"></script>
</html>
