<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>artemis</title>
  </head>
  <body>
    <h1>welcome to artemis</h1>
    <p>using electron, chromium, node.js, firebase</p>
  </body>
  <script src="https://www.gstatic.com/firebasejs/11.0.2/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/11.0.2/firebase-firestore-compat.js"></script>
  <script src="./renderer.js"></script>
</html>
